html
  body 
    form(id="login" action="/rename" method="post", style={display: "flex", "align-items": "center"})
      b Username: 
      input(type="text", name="username", value=username, placeholder="My username is...")
      br
      input(type="submit" value="Save")